@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --ff: 'Poppins', sans-serif;

    --clr-primary: #C1DEE8;
    --clr-secondary: #FBD9B9;
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-gray-1: #bebebe;
    --clr-gray-2: #fafafa;
    --clr-text:#1F1F1F;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

   --fs: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
    font-size: var(--fs);
    outline: none;
}

.container{
    width: min(100% - 1rem, 1380px);
    margin-inline: auto;
}

/*------------------HEADER-----------------*/
.header{
    width: 100%;
    height:90px;
    margin-top: 2.12rem;
    background-color: var(--clr-gray-2);
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 1.5rem;
    padding-left: 2.5rem;
}
.header-wrapper{
    display: flex;
    gap: 5rem;
    align-items: center;
}
.header img{
    cursor: pointer;
}
.head .title{
    font-size: 3.125rem;
    margin: 0;
    margin-top: 1rem;
}
/*------------------NAV-----------------*/
.nav{
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2.18rem;
    background-color: var(--clr-white);
    border-radius: 70px;
    padding: 1.25rem 1.35rem;
}
.nav__link{
    text-decoration: none;
    color: var(--clr-text);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 120%;
    transition: color .3s;
}
.nav__link:hover{
    color: var(--clr-primary);
}

/*------------------BUTTONS-----------------*/
.btn-wrapper{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}
.btn{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--clr-text);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 120%;
    padding: 1.25rem 2.18rem;
    border-radius: 40px;
    border: 1px solid var(--clr-gray-1);
    background: var(--clr-white);
}
.black{
    background: var(--clr-text);
    color: var(--clr-white);
}
.btn:hover{
    background: var(--clr-primary);
    color: var(--clr-white);
    border: 1px solid var(--clr-primary);
}

.btn-dropdown{
    display: flex;
    align-items: center;
    gap: .56rem;
    cursor: pointer;
}
.btn-dropdown span{
    color: var(--clr-text);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 120%;
}

/*------------------SECTION-----------------*/
.section{
    margin-top: 2rem;
    background: linear-gradient(to right, rgb(193, 222, 232), rgb(251, 217, 185));
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.875rem;
    box-sizing: border-box;
}
.section-left{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    transform: translateY(-10%);
}
.title{
    margin-top: .9rem;
    margin-bottom: 1.5rem;
    font-weight: var(--fw-semi-bold);
    font-size: 4.188rem;
    color: var(--clr-black);
    line-height: 120%;
}
.m-0{
    margin: 0;
}
.subtitle{
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 120%;
    color: var(--clr-black);
    max-width: 435px;
}
.section-right img{
    max-width: 785px;
    max-height: 667px;
    margin-bottom: -4rem;
}

.section-small{
max-height: 457px;
margin-top: 5.1875rem;
}
.section-small .section-right img{
    margin-bottom: 0rem;
}
.section-small .section-left .title{
    font-size: 3.125rem;
    margin: 0;
}
.section-small .section-left .subtitle{
    max-width: 526px;
    margin-top: 1.125rem;
    margin-bottom: 2.8125rem;
}
.section-small .section-left .input-wrapper{
   max-width: 469px;
   margin: 0;
}

.section-big{
    max-height: 617px;
}

/*------------------INPUT-----------------*/
.input-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 438px;
    background: var(--clr-white);
    border-radius: 40px;
    margin-top: 1.5rem;
}
.input-wrapper input{
    padding: 1.125rem 1.5625rem;
    border-radius: 40px;
    border: none;
}


.input-btn{
    text-decoration: none;
    color: var(--clr-white);
    background-color: var(--clr-text);
    padding: 1.125rem 1.5625rem;
    border-radius: 40px;
    border: 1px solid var(--clr-text);
    transition: all .3s;
}
.input-btn:hover{
    background-color: var(--clr-white);
    color: var(--clr-text);
}

/*------------------BLOCK-----------------*/
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6.75rem;
    margin-bottom: 8.25rem;
}
.block-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-medium{
    font-weight: var(--fw-semi-bold);
    font-size: 3.125rem;
    line-height: 120%;
    color: var(--clr-black);
    margin-bottom: 2.8125rem;
    margin-top: 1rem;
}
.center{
    text-align: center;
    max-width: 785px;
}
.block-wrapper{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-small{
    padding: 0 2.25rem;
    margin-top: 3.5rem;
}
.p-big{
    padding: 0 4.1875rem;
}
.block-item{
    max-width: 329px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 1.375rem;
}
.block-item img{
    width: 75px;
    height: 75px;
}
.block-item__title{
    font-weight: var(--fw-semi-bold);
    font-size: 1.75rem;
    line-height: 120%;
}


.block-left__title{
    font-weight: var(--fw-semi-bold);
    font-size: 2.375rem;
    line-height: 120%;
}
.block-left__text{
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 120%;
    max-width: 474px;
    margin-top: 1.5rem;
    margin-bottom: 2.8125rem;
}
.block-right  img{
max-width: 550px;
}

/*------------------Number-----------------*/
.number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}
.number-item{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: .3125rem;
}



/*----------------Carousel--------------------*/
.carousel-header{
    display: flex;
    justify-content: space-between;
}
.control{
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}
.control i {
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    background: var(--clr-white);
    border-radius: 50%;
    transition: transform .3s;
}
.control i:active , 
.control i:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    background: var(--clr-text);
}
  .control i:active svg path, 
  .control i:hover svg path{
    stroke:#FFF;
  }

  .wrapper {
    width: 100%;
    position: relative;
    margin-top: 2.8125rem;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 14px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
  }
  .carousel .card {
    list-style: none;
    background: #fff;
    border: 1px solid rgb(190, 190, 190, .5);
    border-top: 0;
    border-radius: 14px;
    cursor: pointer; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
 }
 .card-content{
    display: flex;
    gap: 1.0625rem;
    flex-direction: column;
    padding: 1.5rem;

 }
 .card-content__title{
    font-weight: var(--fw-semi-bold);
    font-size: 1.3125rem;
    line-height: 120%;
 }
  .card-img img{
    width: 100%;
    object-fit: cover
  }
  .carousel .card span {
    font-size: 1.31rem;
    line-height: 100%;
  }
  .rating{
    display: flex;
    align-items: center;
    gap: .9125rem;
  }
  .rating-star{
    display: flex;
    gap: 0.375rem;
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }